/* ---------------------Naidu--------- */
.App {
  text-align: center;
}

.bullimg{
  width: 150px;
  display: inline-block;
}

.titlebull{
  height: 180px;
  text-align: center;
  border: 5px double gray;
}


.titlebullname::first-letter{
  font-size: 6rem;
  color: red;
}

.titlebullname{
  display: inline-block;
  font-size: 5rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h1,h2{
  margin: 0%;
}

.contentdetails{
  position: relative;
  bottom: 70px;
  width: 69%;
  display: inline-block;

}

.sideimg{
  width: 29%;
  display: inline-block;
}

.images1{
  border: 2px solid black;
  width: 24%;
  height: 280px;
  overflow: hidden; 
  display: inline-block;
 margin: 5px;
  
}



/* ---------------------------RK------------------------- */


.mainimg{
  width: 500px;
}

.bicyclemainheading{
  text-align: center;
}

.bicyclemainheading::first-letter{
  font-size: 6rem;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

.cycle1{
  border: 2px solid black;
  display: inline-block;
  margin: 20px;
}
img{
  width: 300px;
  object-fit: fill;
  border: 2px solid black;
}
p{
 
  text-align: justify;
}

.partsimg{
  width: 800px;
  border: 2px solid black;
}
.partsDiv{
  display: inline-block;
 overflow: auto;
 width: 80%;
 height: 200px;
}
h3{
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#racingdiv{
  height: 350px;
}

/* -----------------Anusha----------- */

.biketitle{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

table,
td,
th {
  border: 2px solid black;
  text-align: center;
}


.article {
  width: 70%;
  display: inline-block;
  text-align: justify;
}

.articleimg {
  border: 2px solid gray;
  width: 28%;
  display: inline-block;
}


.typesimage {
  width: auto;
  height: auto;
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
}

.motorcycle-container {
  text-align: justify;
  display: flex;
  align-items: flex-start; 
}

.history-text {
  flex: 1; 
  text-align: justify;
  width: auto;
 
}

.images {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.replica {
  text-align: center;
}

p{
  padding: 10px;
}

.text{
  text-align: center;
}

 

.world{
  display: inline-block;
  width: 70%;
  text-align: justify;
}

.worldimg{
  width: 30%;
  display: inline-block;
  object-fit: contain;
}
#summary{
  text-align: center;
}
#mainH{
  text-align: center;
}

/* -------------ROHITH------------------ */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.AppR {
  text-align: center;
  margin:0% auto;
    width:90%;
    background-color:rgb(246, 240, 233);
    padding: 10px;
}
.Heading1{
  text-align: start;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Heading1::first-letter{
  font-size: 2.5rem;
  color: crimson;
  border: 2px solid black;
}
.Heading1::first-line{
  color:mediumblue;
}

.td{
  font-size: x-small;
  text-align: justify;
  border: none;


}
ul{
  font-size: small;
  font-weight: bold;
}
p{
  text-align: justify;
   padding-right: 0.5em;
}
.divp{
  display: inline-block;
  width: 70%;
}
.ShipImage{
  display: inline-block;
  width: 30%;
  border: 1px solid gray;
  padding: 5px;
}







/*------------------------------------  */




.imgDiv1 {
  width: 35%;
  display: inline-block;
  padding: 10px;
  border: 2px solid gray;
}

.paragraphDiv {
  display: inline-block;
  width: 55%;
  padding-right: 20px;
}

p {
  text-align: justify;
}



.headingDiv {
  text-align: justify;
  margin: 20px;
}




#container {
  display: inline-block;

  width: 75%;
  height: 500px;
  text-align: justify;
}

#pic {
  display: inline-block;
  width: 25%;
}

#container1 {
  display: inline-block;
  width: 65%;
  height: 300px;
  text-align: justify;
  border-radius: 20px;
}

#pic1 {
  display: inline-block;
  width: 30%;
}

#container2 {
  display: inline-block;
  width: 68%;
  height: 500px;
  text-align: justify;
  border-radius: 20px;
  font: 2px;
}

#pic2 {
  display: inline-block;
  width: 30%;
}












